* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Trebuchet MS';
    background: 
        linear-gradient(#d8f5f6, #58c1f6);
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
}

.super-navbar.scrolled {
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 4%);
    box-shadow: 0 0 20px rgb(0 0 0 / 4%);
    background: hsla(0,0%,100%,.8);
}

.super-navbar {
    padding: 0 var(--padding-right) 0 var(--padding-left);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;
}

.super-navbar.scrolled .super-navbar__content {
    height: 70px;
}

.super-navbar__content, .super-navbar__item {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.super-navbar__content {
    height: 100px;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
    -webkit-box-shadow: 0 0 20px transparent;
    box-shadow: 0 0 20px transparent;
}

.super-navbar__logo-wrapper {
    width: 36px;
    height: 36px;
    position: relative;
}

.notion-link {
    text-decoration: none;
    color: inherit;
}

.super-navbar__item-list {
    width: auto;
    height: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.super-navbar__item {
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.5px;
    color: var(--color-text-gray);
    height: 100%;
    width: 100%;
    padding: 0 20px;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.super-navbar__content, .super-navbar__item {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
